@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800&display=swap');

body, button {
  margin: 0;
  font-family: 'Darker Grotesque', sans-serif;
  overscroll-behavior: none;
  height: 100%;
}
